<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ClientId</key>
        <string>zS8E8r6CJYM08PmFbF54WfzzxK7hYLp4</string>
        <key>Domain</key>
        <string>dev-k6oie8nx.auth0.com</string>
    </dict>
</plist>
